  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a, a:hover {
      text-decoration: none !important; }
  
  .content {
    height: 70vh; }
  
  .footer-95942 {
    padding: 7rem 0;
    font-family: "Poppins", sans-serif; }
    .footer-95942 .nav-links li {
      display: block;
      margin-bottom: 10px; }
      .footer-95942 .nav-links li a {
        font-size: 14px;
        color: #777; }
        .footer-95942 .nav-links li a:hover {
          color: #4200ff; }
    .footer-95942 .social.app {
      font-size: 13px; }
    .footer-95942 .social li {
      display: inline-block; }
      .footer-95942 .social li a {
        display: inline-block;
        padding: 10px;
        color: #ccc; }
        .footer-95942 .social li a:hover {
          color: #4200ff; }
    .footer-95942 .social.nav-left li:first-child a {
      padding-left: 0px; }
    .footer-95942 .social.nav-right li:last-child a {
      padding-right: 0px; }
    .footer-95942 h3 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 0; }
  