/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* style.css */

body {
    min-height: 100vh; /* Added */
    overflow: auto; /* Added */
  }
  .card {
    border: none;
    outline: none;
    box-shadow: none;
  }








